{% comment %}
  Cart Drawer Item Quantity input

  Accepts:
  - item: {Object} Cart item object
  - min: {Number} Min (optional)

  Usage:
  {% render 'cart-drawer-item-quantity-input' item: cart_item %}
{% endcomment %}

<quantity-input class="quantity cart-quantity">
  <button
    class="quantity__button"
    name="minus"
    type="button"
    {% if item.instructions and item.instructions.can_update_quantity == false %}
      disabled
    {% endif %}
  >
    <span class="visually-hidden">
      {{-
        'products.product.quantity.decrease'
        | t: product: item.product.title
        | escape
      -}}
    </span>
    <span class="svg-wrapper">
      {{- 'icon-minus.svg' | inline_asset_content -}}
    </span>
  </button>
  <input
    class="quantity__input"
    type="number"
    data-quantity-variant-id="{{ item.variant.id }}"
    name="updates[]"
    value="{{ item.quantity }}"
    {% # theme-check-disable %}
    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
    min="{{ min | default: 0 }}"
    data-min="{{ item.variant.quantity_rule.min }}"
    {% if item.variant.quantity_rule.max != null %}
      max="{{ item.variant.quantity_rule.max }}"
    {% endif %}
    step="{{ item.variant.quantity_rule.increment }}"
    {% # theme-check-enable %}
    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
    id="Drawer-quantity-{{ item.index | plus: 1 }}"
    data-index="{{ item.index | plus: 1 }}"
    {% if item.instructions and item.instructions.can_update_quantity == false %}
      disabled
    {% endif %}
  >
  <button
    class="quantity__button"
    name="plus"
    type="button"
    {% if item.instructions and item.instructions.can_update_quantity == false %}
      disabled
    {% endif %}
  >
    <span class="visually-hidden">
      {{-
        'products.product.quantity.increase'
        | t: product: item.product.title
        | escape
      -}}
    </span>
    <span class="svg-wrapper">
      {{- 'icon-plus.svg' | inline_asset_content -}}
    </span>
  </button>
</quantity-input>